{% extends "baseTemplate.twig" %}

{% block content %}

	<div class="container-addEvent dark-bg">
		<div class="container primary-text py-5">
			{% if responseMessage %}
				<div class="alert alert-danger m-0 text-center" role="alert">
					{{ responseMessage }}
				</div>
			{% endif %}

			{% if errorMessages is not same as(null) %}
				<div class="alert alert-danger m-0 text-center" role="alert">
					<ul>
						{% for msg in errorMessages %}
							{% if msg is not same as(null) and msg is not same as('') %}
								<li>{{ msg }}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<div class="text-center my-5 revealU">
				<h1>Agregar nuevo evento</h1><br>
			</div>


			<form class="shadow-lg rounded border border-dark p-5 darker-bg revealD" action="add" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<input class="form-control" type="text" name="eventName" placeholder="Nombre del evento" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="eventDate" placeholder="Fecha del evento - AAAA-MM-DD HH:mm:ss" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="vipsAvailable" placeholder="Entradas VIP disponibles" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="platinumsAvailable" placeholder="Entradas Platino disponibles" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="highsAvailable" placeholder="Entradas Altos disponibles" required><br>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="mediumAvailable" placeholder="Entradas Medios disponibles" required><br>
				</div>
				<button class="btn btn-success w-100 my-3" type="submit">Agregar</button>
				<a class="btn btn-danger w-100 my-3" type="submit" href="../home/admin" >Volver</a>
			</form>
		</div>
	</div>


{% endblock %}
