{% extends "baseTemplate.twig" %}

{% block content %}

	<div class="login-container min-vh-100 py-5 default-bg">
		<div class="container py-5">
			<div class="text-login text-center primary-text my-5">
				<h1>Inicia sesi&oacute;n en Tickera</h1>
			</div>
			<div class="row d-flex justify-content-center align-items-center mt-5 pt-5">
				<div class="col-lg-7">
					<form class="shadow-lg rounded border border-dark p-5 darker-bg" action="login" method="post" enctype="multipart/form-data">
						{% if responseMessage %}
						<div class="alert alert-danger my-4 text-center" role="alert">
							{{ responseMessage }}
						</div>
						{% endif %}
						<div class="form-group">
							<input class="form-control" type="text" name="username" placeholder="Nombre de usuario" required><br>
						</div>
						<div class="form-group">
							<input class="form-control" type="password" name="password" placeholder="Contraseña" required><br>
						</div>
						<button class="btn btn-dark w-100" type="submit">Inicia sesi&oacute;n</button>
						<div class="text-center my-3">
							<a class="text-small primary-text" href="/signup">¿No estás registrado? ¡Hazlo ahora!</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
