{% extends "baseTemplate.twig" %}

{% block content %}

{% if responseMessage %}
<div class="alert alert-primary" role="alert">
    {{ responseMessage }}
</div>
{% endif %}

<h1>Inicia sesi&oacute;n en Tickera</h1>


<form action="login" method="post" enctype="multipart/form-data">
    <label for="">Nombre de usuario</label><br>
    <input type="text" name="username" required><br>
    <label for="">Contraseña</label><br>
    <input type="password" name="password" required><br>
    <button type="submit">Inicia sesi&oacute;n</button>
</form>

{% endblock %}