{% extends "baseTemplate.twig" %}

{% block content %}

{% if responseMessage %}
<div class="alert alert-primary" role="alert">
    {{ responseMessage }}
</div>
{% endif %}
{% if errorMessages is not same as(null) %}
    <div class="alert alert-primary" role="alert">
        <ul>
        {% for msg in errorMessages %}
                {% if msg is not same as(null) and msg is not same as('') %}
                <li>{{ msg }}</li>
                {% endif %}
        {% endfor %} 
        </ul>
    </div>
{% endif %}

<h1>Registrate en Tickera</h1>

<form action="signup" method="post" enctype="multipart/form-data">
    <label for="">Nombre</label>
    <input type="text" name="firstName" required><br>
    <label for="">Apellido</label>
    <input type="text" name="lastName" required><br>
    <label for="">Cedula</label>
    <input type="number" name="countryId" placeholder="27947561" required>
    <label for="">Direccion</label>
    <input type="text" name="address" required><br>
    <label for="">G&eacute;nero</label>
    <select name="gender">
        <option value="Hombre">Hombre</option>
        <option value="Mujer">Mujer</option>
        <option value="Otro">Otro</option>
    </select><br>
    <label for="">Numero telefónico</label>
    <input type="tel" name="phoneNumber" placeholder="414-1111111" pattern="[0-9]{3}-[0-9]{7}" required><br>
    <label for="">Email</label>
    <input type="email" name="email" required><br>
    <label for="">Nombre de usuario</label>
    <input type="text" name="username" required><br>
    <label for="">Contraseña</label>
    <input type="password" name="password" required><br>
    <label for="">Confirma tu contraseña</label>
    <input type="password" name="cpassword" required><br>

    <button type="submit">Registrarme</button>
</form>

{% endblock %}